@model IEnumerable<Projet.Areas.Responsable.Models.Matiere>
@addTagHelper *, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Projet.Areas.Responsable.Models;

        @if (User.IsInRole("Admin"))
        {
            Layout = "~/Areas/Responsable/Views/Shared/_Admin.cshtml";
        }
        else if (User.IsInRole("Directeur"))
        {
            Layout = "~/Areas/Directeur/Views/Shared/_Directeur.cshtml";
        }

@{
    
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<style>
    .clear-search {
        cursor: pointer;
        display: none;
        padding: 6px 10px;
        border-radius: 0 4px 4px 0;
        background-color: #ccc;
        border: 1px solid #ccc;
        border-left: none;
    }
    .group-title {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    .table td {
        padding: 0.5rem;
        vertical-align: middle;
    }
</style>
    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
    {
        <span class="container d-flex justify-content-end">
            <span class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </span>
        </span>
    }

<div class="container">
    
        <div class="container row">
            <div class="col-md-3 mb-2">
                 @if (User.IsInRole("Admin"))
            {
                <!-- Form Pour Importer un Fichier Excel -->
                <form method="post" enctype="multipart/form-data" asp-action="ImportAndStoreMatiers" asp-controller="Matieres" asp-area="Responsable">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="btn btn-primary" style="height: 38px; line-height: 38px; padding-top: 0; padding-bottom: 0;">
                                Parcourir <input type="file" style="display: none;" name="file">
                            </label>
                            <button type="submit" class="btn btn-primary ml-2" style="height: 38px">Enregistrer</button>
                        </div>
                    </div>
                </form>}
            </div>
            <div class="col-md-5 mb-1">
                <!-- Pour filtre -->
                <form asp-action="First" asp-controller="Matieres" asp-area="Responsable" method="get">
                    <div class="input-group">

                    <select class="form-select" name="NiveauFilter" id="niveauFilter" asp-items="ViewBag.Niveaus">
                            <option value="" selected>Tous les niveaux</option>
                        </select>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Filtrer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mb-4 col-md-4 d-flex justify-content-end align-items-center ">
                <!-- Form de recherche -->
                <form asp-action="First" asp-controller="Matieres" asp-area="Responsable" class="form-inline">
                    <div class="input-group">
                    <select name="MId" class="form-control" asp-items="ViewBag.matieres">
                        <option value="">Matieres</option>
                    </select>
                        <span id="clearSearch" class="input-group-addon clear-search">&times;</span>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                           
                        
                            <a class="btn btn-primary ml-2" href="@Url.Action("Create", "Matieres", new { area = "Responsable" })"><i class="bi bi-plus"></i></a>
                        
                    </div>
                    </div>
                </form>
            </div>
        </div>
    


    <!--Tableau du Matiere-->
    <div class="table-responsive card shadow bg-white rounded">
        <table class="table col-10 mx-auto">
            <thead>
                <tr>
                    <th>Matière</th>
                    <th>Niveau</th>
                    <th>Responsable</th>
                    <th>Emploi Matière</th>
             
                  
                  <th class="ml-2">Action</th>
                 
                </tr>
            </thead>
            <tbody>
               

                    @foreach (var item in Model)
                    {
                        <tr class="matiere" >
                          
                            <td class="nom-matiere" >@item.NomMatiere</td>
                        <td>
                            @if (item.MatiereNiveaus != null)
                            {
                                foreach (var n in item.MatiereNiveaus)
                                {
                                    @n.Niveau.NomNiveau
                                    <br />
                                }
                            }
                        </td>
                        <td>
                            @if (item.Enseignant != null)
                            {
                                @item.Enseignant.NomComplet
                            }
                            else if (item.Vacataire != null)
                            {
                                @item.Vacataire.NomComplet
                            }
                            else
                            {
                                <span>Enseignant non défini</span>
                            }
                        </td>


                            <td class="">
                                <a asp-controller="Matieres" asp-area="Responsable" asp-action="EmploiMatiere" asp-route-id="@item.IdMatiere" class="btn  btn-light btn-sm"> <i class="bi bi-calendar" style="font-size: 15px;color:cornflowerblue"></i></a>
                            </td>
                        
                            
                                <td>

                                    <a class="btn btn-success btn-sm"  asp-action="Edit" asp-controller="Matieres" asp-area="Responsable" asp-route-id="@item.IdMatiere">
                                        <i class="bi bi-pencil" style="font-size: 15px;"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm ml-2"  asp-action="Delete" asp-controller="Matieres" asp-area="Responsable" asp-route-id="@item.IdMatiere">
                                        <i class="bi bi-trash-fill" style="font-size: 15px;"></i>
                                    </a>

                                </td>
                            


                        </tr>

                    }
                
            </tbody>
        </table>
    </div>
    <!-- Pour Pagination-->
    <div class="d-flex justify-content-end mb-5 mt-2">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link text-primary" asp-controller="Matieres" asp-action="First" asp-area="Responsable" asp-route-pg="1" asp-route-NiveauFilter="@ViewBag.NiveauFilter">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-primary" asp-controller="Matieres" asp-action="First" asp-area="Responsable" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-NiveauFilter="@ViewBag.NiveauFilter">Previous</a>
                    </li>
                }
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active text-white" : "text-primary")">
                        <a class="page-link" asp-controller="Matieres" asp-action="First" asp-area="Responsable" asp-route-pg="@pge" asp-route-NiveauFilter="@ViewBag.NiveauFilter">@pge</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link text-primary" asp-controller="Matieres" asp-action="First" asp-area="Responsable" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-NiveauFilter="@ViewBag.NiveauFilter">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-primary" asp-controller="Matieres" asp-action="First" asp-area="Responsable" asp-route-pg="@(pager.TotalPages)" asp-route-NiveauFilter="@ViewBag.NiveauFilter" >Last</a>
                    </li>
                }
            </ul>
        }
    </div>
 </div>




