@model Projet.Areas.Coordonnateur.Models.EmploiExam
@addTagHelper *, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (User.IsInRole("Coordonnateur"))
{
    Layout = "_CordDashbord";
}
else if (User.IsInRole("Directeur"))
{
    Layout = "~/Areas/Directeur/Views/Shared/_Directeur.cshtml";
}
else if (User.IsInRole("Chef"))
{

    Layout = "~/Areas/Chef/Views/Shared/_Chef.cshtml";

}
<div class="container">

    @if (!string.IsNullOrEmpty(TempData["ExamMessage"] as string))
    {
        <span class="container d-flex justify-content-end">
            <span class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ExamMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </span>
        </span>


    }

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center">Edit Emploi Exam</div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="IdEmploiExam" />
                        <input type="hidden" asp-for="IdExamen" class="form-control mt-2" value="@ViewBag.IdExamen" />
                        <input type="hidden" asp-for="IdNiveau" class="form-control mt-2" value="@ViewBag.idNeveau" />
                        <input type="hidden" asp-for="IdSemestre" class="form-control mt-2" value="@ViewBag.IdSemestre" />
                        <input type="" asp-for="typeEmploi" class="form-control mt-2" value="@ViewBag.Type" />
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                   
                                <select asp-for="IdSeance" class="form-control" asp-items="ViewBag.IdSeance"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                   
                                <select asp-for="IdJour" class="form-control" asp-items="ViewBag.IdJour"></select>
                            </div>
                        </div>
                    </div>

                        <div class="form-group">

                            <select asp-for="IdMatiere" class="form-control" asp-items="ViewBag.IdMatiere"></select>
                        </div>

                   

                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sélectionner Enseignants</label>
                                    <select asp-for="EmploiExamEnseignants" class="form-control" multiple ctrl>
                                    @foreach (var enseignant in ViewBag.Enseignants)
                                    {
                                        <option value="@enseignant.IdEnseignant" selected="@Model.EmploiExamEnseignants.Any(e => e.IdEnseignant == enseignant.IdEnseignant)">@enseignant.NomComplet</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sélectionner Vacataires</label>
                                    <select asp-for="EmploiExamVacataires" class="form-control" multiple ctrl>
                                    @foreach (var vacataire in ViewBag.Vacataires)
                                    {
                                        <option value="@vacataire.IdVacataire" selected="@Model.EmploiExamVacataires.Any(e => e.IdVacataire == vacataire.IdVacataire)">@vacataire.NomComplet</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-1 mb-2">
                        <label>Sélectionner Locaux</label>
                            <select asp-for="EmploiExamLocals" class="form-control" multiple ctrl>
                            @foreach (var local in ViewBag.Locals)
                            {
                                <option value="@local.IdLocal" selected="@Model.EmploiExamLocals.Any(e => e.IdLocal == local.IdLocal)">@local.NomLocal</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                            <a class="btn btn-secondary" asp-controller="EmploiExams" asp-area="coordonnateur" asp-action="EmploiExam" asp-route-IdN="@ViewBag.idNeveau" asp-route-IdS="@ViewBag.IdSemestre" asp-route-IdEx="@ViewBag.IdExamen" asp-route-Type="@ViewBag.Type">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>