@model IEnumerable<Projet.Areas.Coordonnateur.Models.EmploiExam>

@addTagHelper *, AuthoringTagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Projet.Areas.Coordonnateur.Models;
@if (User.IsInRole("Coordonnateur"))
{
    Layout = "_CordDashbord";
}
else if (User.IsInRole("Directeur"))
{
    Layout = "~/Areas/Directeur/Views/Shared/_Directeur.cshtml";
}
else if (User.IsInRole("Chef"))
{

    Layout = "~/Areas/Chef/Views/Shared/_Chef.cshtml";

}
<style>
    .table-bordered th {
        border: none;
    }

</style>

<div class="container">
    @if (!string.IsNullOrEmpty(TempData["EmploiMessage"] as string))
    {

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["EmploiMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }

    <div class="card bg-white shadow">
        <div class="card-body border-white">
            <div class="table-responsive">
            <div class="row align-items-center">
               
                    <div class="col-md-6">
                        <!-- Premier formulaire -->
                        <form method="get" asp-action="EmploiExam" asp-controller="EmploiExams" class="d-flex flex-row align-items-center">
                            <div class="form-group">
                                <input type="hidden" name="IdN" value="@ViewBag.idNeveau" />
                                <select name="IdS" class="form-control" asp-items="ViewBag.Semestres"></select>
                            </div>
                            <div class="form-group ml-1">
                                <select name="IdEx" class="form-control" asp-items="@ViewBag.Examens"></select>
                            </div>
                            <div class="form-group ml-1">
                                <select class="form-control" id="selectExamen" name="Type">
                                    @if (ViewBag.Type != null)
                                    {
                                        <option value="@ViewBag.Type">@ViewBag.Type</option>
                                    }
                                    <option value="">Session</option>
                                    <option value="Rattrapage">Rattrapage</option>
                                    <option  name ="d" value="Normale">Normale</option>
                                </select>
                            </div>
                          

                            <div class="form-group ml-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        @if (User.IsInRole("Coordonnateur") || User.IsInRole("Directeur") || User.IsInRole("Chef"))
                        {
                            @if (ViewBag.selectedSemester == 0)
                            {
                                <span class="text-danger ml-2">Veuillez choisir un semestre avant d'ajouter une séance.</span>
                            }

                        }
                    </div>

                    @if (ViewBag.remplie)
                    {
                        <div class="col-md-4 mb-3" style="margin-left: -10px;">
                            <!-- Deuxième formulaire -->
                            <form method="get" asp-action="GeneratePdf" asp-controller="EmploiExams" class="d-flex flex-row align-items-center">
                                <input type="hidden" name="IdN" value="@ViewBag.idNeveau" />
                                <input type="hidden" name="IdS" value="@ViewBag.selectedSemester" />
                                <input type="hidden" name="IdEx" value="@ViewBag.idExam" />
                                <input type="hidden" name="Type" value="@ViewBag.Type" />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="typcn typcn-download mx-0"></i>
                                </button>
                                <div class="">
                                    @if (User.IsInRole("Coordonnateur") || User.IsInRole("Directeur") || User.IsInRole("Chef"))
                                    {
                                        <button type="button" class="btn btn-danger btn-sm ml-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteAllModal"
                                        data-idn="@ViewBag.idNeveau" data-ids="@ViewBag.selectedSemester" data-idEx="@ViewBag.idExam" data-Type="@ViewBag.Type">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button>}
                                </div>
                            </form>
                          
                        </div>
                    }
                </div>




                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@ViewBag.niveau.NomNiveau</th>
                            @foreach (var s in ViewBag.Seances)
                            {
                                <th style="background-color:#00BFFF; height:15px; white-space: nowrap;" class="table-header text-center">
                                    <span style="display: inline-block;">@s.dateDebut.ToString(@"hh\:mm")</span> - <span style="display: inline-block;">@s.dateFin.ToString(@"hh\:mm")</span>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var j in ViewBag.Jours)
                        {
                            <tr>

                                <td class="border border-3 text-center font-weight-bold" style=" vertical-align: middle;background-color:#00BFFF ;width:40px;">@j.NomJour</td>
                                @foreach (var s in ViewBag.Seances)
                                {
                                var matchingTempsList = Model.Where(temps => temps.IdSeance == s.IdSeance && temps.IdJour == j.IdJour && temps.IdExamen == ViewBag.idExam && temps.IdSemestre == ViewBag.selectedSemester).ToList();
                                    <td class="border border-3 text-center" style="position: relative;">
                                        <div style="position: absolute; top: 0; right: 0;" class="mt-1">
                                            @if (ViewBag.selectedSemester != null)
                                            {
                                                @if (User.IsInRole("Coordonnateur") || User.IsInRole("Directeur") || User.IsInRole("Chef"))
                                                {
                                                    <a id="addSeanceButton" asp-action="Create" asp-controller="EmploiExams"
                                                    asp-route-IdN="@ViewBag.idNeveau" asp-route-IdJour="@j.IdJour"
                                                       asp-route-IdSeance="@s.IdSeance" asp-route-IdS="@ViewBag.selectedSemester" asp-route-IdEx="@ViewBag.idExam" asp-route-Type="@ViewBag.Type" asp-route-d="@ViewBag.date"
                                                    class="level-link">
                                                        <i class="bi bi-plus-lg"></i>
                                                    </a>
                                                }

                                            }

                                        </div>

                                        @foreach (var matchingTemp in matchingTempsList)
                                        {
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="text-end mb-1">
                                                    @if (User.IsInRole("Coordonnateur") || User.IsInRole("Directeur") || User.IsInRole("Chef"))
                                                    {
                                                        <a href="#" class="level-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-empoi-id="@matchingTemp.IdEmploiExam" data-jour="@matchingTemp.Jour.NomJour" data-datedebut="@matchingTemp.Seance.dateDebut" data-datefin="@matchingTemp.Seance.dateFin"  data-empoi-IdS="@matchingTemp.IdSemestre" data-empoi-IdN="@matchingTemp.IdNiveau">
                                                            <i class="bi bi-trash-fill" style="color: #ff5733;"></i>
                                                        </a>
                                                        <a asp-action="Edit" asp-controller="EmploiExams" asp-area="Coordonnateur" asp-route-id="@matchingTemp.IdEmploiExam"  class="level-link ms-2">
                                                            <i class="bi bi-pencil" style="color: #33ff57;"></i>
                                                    </a>}
                                                </div>
                                                <div class="text-center">
                                                    @if (matchingTemp.matiere != null)
                                                    {
                                                        <span style="font-size: 12px;"> @matchingTemp.matiere.NomMatiere</span>
                                                        <br />
                                                        
                                                       
                                                    }
                                                    @if (matchingTemp.matiere.Enseignant != null)
                                                    {
                                                        <span style="font-size: 12px;">Respnsable: @matchingTemp.matiere.Enseignant.NomComplet</span>
                                                        <br/>
                                                    }
                                                    else if (matchingTemp.matiere.Vacataire != null)
                                                    {
                                                        <span style="font-size: 12px;">Respnsable: @matchingTemp.matiere.Vacataire.NomComplet</span>
                                                        <br />
                                                    }
                                                    @if (matchingTemp.EmploiExamVacataires != null)
                                                    {

                                                        @foreach (var en in matchingTemp.EmploiExamVacataires)
                                                        {

                                                            @if (en.IdVacataire != matchingTemp.matiere.IdVacataire)
                                                            {
                                                                <span style="font-size: 12px;">
                                                                   @en.Vacataire.NomComplet
                                                                </span> <br />
                                                            }
                                                           

                                                        }

                                                    }
      

                                                    @if (matchingTemp.EmploiExamEnseignants != null)
                                                    {

                                                        @foreach (var en in matchingTemp.EmploiExamEnseignants)
                                                        {
                                                            @if (en.IdEnseignant!=matchingTemp.matiere.IdEnseignant)
                                                            {
                                                                <span style="font-size: 12px;">
                                                                    @en.Enseignant.NomComplet
                                                                </span>
                                                            }


                                                            <br />

                                                        }

                                                    }
                                                  
                                             


                                                @if (matchingTemp.EmploiExamLocals!=null){
                                                    
                                                     @foreach(var en in matchingTemp.EmploiExamLocals){

                                                        
                                                    <span style="font-size: 12px;" class="text-primary">@en.Local.NomLocal
                                                        </span> <br />
                                                    }

                                                }

                                                    <span style="font-size: 12px;" class="text-primary">
                                                        @((matchingTemp.DateEmploiExam.HasValue) ? matchingTemp.DateEmploiExam.Value.ToString("yyyy-MM-dd") : "")
                                                    </span>

                                                </div>

                                            </div>
                                        }
                                    </td>
                                }
                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <!-- Modal de suppression -->
    <div class="modal fade" id="deleteModal" tabEmploiExam.="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer :
                    <span id="deleteItemInfo"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de confirmation de suppression de tous les emplois -->
    <div class="modal fade" id="confirmDeleteAllModal" tabEmploiExam.="-1" aria-labelledby="confirmDeleteAllModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteAllModalLabel">Confirmer la suppression de tous les emplois</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer tous les emplois de ce semestre ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteAllButtonModal" data-IdEx="1">Supprimer</button>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{




        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const confirmDeleteButton = document.getElementById("confirmDeleteButton");
                const deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));

                confirmDeleteButton.addEventListener("click", function () {
                    const emploiId = deleteModal._element.getAttribute("data-empoi-id");
                   

                    // Redirigez vers la page de suppression avec l'ID d'emploi
                    const area = "@ViewContext.RouteData.Values["area"]";
                    const deleteUrl = area === "" ? "/EmploiExams/Delete" : `/${area}/EmploiExams/Delete`;
                    window.location.href = `${deleteUrl}?IdE=${emploiId}`;
                });

                const openDeleteModalButtons = document.querySelectorAll("[data-bs-toggle='modal'][data-empoi-id]");
                openDeleteModalButtons.forEach(button => {
                    button.addEventListener("click", function () {
                        const emploiId = button.getAttribute("data-empoi-id");
                        const jour = button.getAttribute("data-jour");
                        const datedebut = button.getAttribute("data-datedebut");
                        const datefin = button.getAttribute("data-datefin");
                        const Matiere = button.getAttribute("data-Matiere");
                        document.getElementById("deleteItemInfo").textContent = `Seance de ${Matiere} de ${jour} de ${datedebut} à ${datefin}`;
                        deleteModal._element.setAttribute("data-empoi-id", emploiId);
                    });
                });
            });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const confirmDeleteAllButton = document.querySelector("[data-bs-target='#confirmDeleteAllModal']");
                const confirmDeleteAllModal = new bootstrap.Modal(document.getElementById("confirmDeleteAllModal"));

                confirmDeleteAllButton.addEventListener("click", function () {
                    const idNiveau = confirmDeleteAllButton.getAttribute("data-idn");
                    const idSemestre = confirmDeleteAllButton.getAttribute("data-ids");
                    const idExam = confirmDeleteAllButton.getAttribute("data-idEx");
                    const Type = confirmDeleteAllButton.getAttribute("data-Type");
                    // Afficher le modal de confirmation pour la suppression globale
                    confirmDeleteAllModal.show();
                });

                const confirmDeleteAllButtonModal = document.getElementById("confirmDeleteAllButtonModal");

                confirmDeleteAllButtonModal.addEventListener("click", function () {
                    const idNiveau = confirmDeleteAllButton.getAttribute("data-idn");
                    const idSemestre = confirmDeleteAllButton.getAttribute("data-ids");
                    const idExam = confirmDeleteAllButton.getAttribute("data-idEx");
                    const Type = confirmDeleteAllButton.getAttribute("data-Type");
                    // Rediriger vers l'action de suppression avec les paramètres appropriés
                    const deleteAllUrl = `/Coordonnateur/EmploiExams/DeleteAllEmplois?idN=${idNiveau}&idS=${idSemestre}&idEx=${idExam}&Type=${Type}`;
                    window.location.href = deleteAllUrl;
                });
            });
        </script>




    }





